* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --forum-blue: rgb(104, 148, 183);
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
}

.navLogo {
  width: 200px;
  height: 61.25px;
  margin-left: 129px;
}

.navLinks {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  display: flex;
  gap: 36px;
  margin-right: 133px;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

/* Hero Image */

.heroImage {
  width: 100%;
}

/* Hero Copy */

.heroCopy {
  font-weight: 700;
  position: absolute;
  width: 547px;
  height: 303px;
  font-size: 86px;
  color: white;
  margin-left: 129px;
  text-shadow: 3px 3px 30px rgb(134, 132, 132);
  margin-top: -38%;
}

/* About Card */

h2 {
  font-weight: 700;
  font-size: 46px;
}

.aboutCard {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 85px;
}

.verticalLine {
  width: 3px;
  height: 125px;
  background-color: var(--forum-blue);
}

.aboutCopy {
  width: 700px;
  font-size: 20px;
  line-height: 32px;
}

/* Products and Services */

.productsHeader {
  font-weight: 700;
  font-size: 46px;
  display: flex;
  justify-content: center;
  margin-top: 123px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
}

.productCard {
  display: flex;
  justify-content: center;
  gap: 68px;
  margin-top: 89px;
  align-items: center;
}

.productImages {
  border-radius: 10px;
  filter: drop-shadow(0px 6px 25px rgba(0, 0, 0, 0.25));
}

.productsCopy {
  font-weight: 400;
  width: 634px;
  font-size: 20px;
  margin-top: 25px;
  line-height: 32px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 12px;
}

.vendorList1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 32px;
  font-size: 20px;
}

.vendorList1 a {
  text-decoration: none;
  color: var(--forum-blue);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 170px;
  width: 100%;
  background-color: #efeef2;
  align-items: center;
  margin-top: 123px;
}

.footerLogo {
  height: 54px;
  width: 176px;
  margin-bottom: 14px;
}

.footerLogoStack {
  margin-left: 128px;
}

.footerLogoStack p {
  font-size: 14px;
}

.footerLinks {
  display: flex;
}

.emailIcon, .phoneIcon  {
  height: 20px;
  width: 24px;
  margin-right: 10px;
}

.instagramIcon {
  height: 24px;
  width: 24px;
}

.iconLinks {
  display: flex;
  gap: 37px;
  align-items: center;
  margin-right: 135px;
  font-size: 20px;
  font-weight: 700;
}

.footerLinks a {
  text-decoration: none;
  color: var(--forum-blue)
}

/* Mobile Build */

@media (max-width: 872px) {
  /* Nav */
  .navLogo {
    margin-left: 15%;
    width: 90%;
    height: 90%;
  }

  #productsLink,
  #servicesLink {
    display: none;
  }

  .navLinks {
    margin-right: 10%;
  }

  #navEmail {
    font-size: 14px;
  }

  /* Hero */

  .heroImage {
    width: 100%;
  }

  .heroCopy {
    font-size: 36px;
    margin-left: 10%;
    width: 250px;
    margin-top: -43%;
    text-shadow: 1px 1px 9px rgb(101, 99, 99);

  }

  /* About Section */

  .aboutHeader {
    text-decoration: underline;
    text-decoration-color: var(--forum-blue);
    text-underline-offset: 8px;
    font-size: 32px;
  }

  .aboutCard {
    flex-direction: column;
  }

  .aboutCopy {
    width: 80%;
    font-size: 15px;
    line-height: 24px;
  }

  .verticalLine {
    display: none;
  }

  /* Products and Services */

  .productsHeader {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: var(--forum-blue);
    text-underline-offset: 8px;
  }

  .productCard {
    flex-direction: column;
  }

  #productCard1, #productCard3, #productCard5 {
    background-color: rgba(104, 148, 183, .15);
    padding: 40px 0; 
  }

  #productCard2, #productCard4 {
    margin: 50px 0;
  }

  .productImages {
    width: 80%;
    filter: drop-shadow(0px 6px 25px rgba(0, 0, 0, 0.15));
  }

  h3 {
    font-size: 25px;
    text-align: center;
    margin-top: -10%;
  }

  .productsCopy {
    width: 80%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }

  .vendorList1 {
    display: block;
    text-align: center;
  }

  .vendorList1 a {
    font-size: 18px;
    display: block;
  }

  /* Footer */

  .footerLogoStack {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .emailIcon, .phoneIcon {
    display: none;
  }

  .emailLink, .phoneLink {
    font-size: 14px;
  }
  
  footer {
    flex-direction: column;
    text-align: center;
    height: 200px
  }
  
  .iconLinks {
    margin-right: 0;
    margin-bottom: 30px;
    gap: 20px;
  }
    
  

}
