*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --forum-blue: rgb(104, 148, 183);
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  height: 117px;
}

.navLogo {
  width: 200px;
  height: 61.25px;
  margin-left: 129px;
  margin-top: 27px;
}

.navLinks {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  display: flex;
  gap: 36px;
  margin-right: 133px;
  margin-top: 44px;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

.navHover::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--forum-blue);
  transition: width 0.3s ease-in-out;
}

.navHover:hover::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--forum-blue);
  display: block;
}

/* Hero Image */

.heroImage {
  width: 100%;
}

/* Hero Copy */

.heroCopy {
  font-weight: 700;
  position: absolute;
  width: 547px;
  height: 303px;
  font-size: 86px;
  color: white;
  margin-left: 129px;
  text-shadow: 3px 3px 30px rgb(134, 132, 132);
  margin-top: -38%;
}

/* About Card */

h2 {
  font-weight: 700;
  font-size: 46px;
}

.aboutCard {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 85px;
}

.verticalLine {
  width: 3px;
  height: 125px;
  background-color: var(--forum-blue);
}

.aboutCopy {
  width: 700px;
  font-size: 20px;
  line-height: 32px;
}

/* Products and Services */

.productsHeader {
  font-weight: 700;
  font-size: 46px;
  display: flex;
  justify-content: center;
  margin-top: 123px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
}

.productCard {
  display: flex;
  justify-content: center;
  gap: 68px;
  margin-top: 89px;
  align-items: center;
}

.productImages {
  border-radius: 10px;
  filter: drop-shadow(0px 6px 25px rgba(0, 0, 0, 0.25));
}

.productsCopy {
  font-weight: 400;
  width: 634px;
  font-size: 20px;
  margin-top: 25px;
  line-height: 32px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 12px;
}

.vendorList1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 32px;
  font-size: 20px;
}

.vendorList1 a {
  text-decoration: none;
  color: var(--forum-blue);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 170px;
  width: 100%;
  background-color: #efeef2;
  align-items: center;
  margin-top: 123px;
}

.footerLogo {
  height: 54px;
  width: 176px;
  margin-bottom: 14px;
}

.footerLogoStack {
  margin-left: 128px;
}

.footerLogoStack p {
  font-size: 14px;
}

.footerLinks {
  display: flex;
}

.emailIcon,
.phoneIcon {
  height: 20px;
  width: 24px;
  margin-right: 10px;
}

.instagramIcon {
  height: 24px;
  width: 24px;
}

.iconLinks {
  display: flex;
  gap: 37px;
  align-items: center;
  margin-right: 135px;
  font-size: 20px;
  font-weight: 700;
}

.footerLinks a {
  text-decoration: none;
  color: var(--forum-blue);
}

/* Mobile Build */

/* Small Laptops */
@media (max-width: 1200px) {
  .navLinks {
    font-size: 16px;
  }
  

  .productsCopy {
    width: 425px;
    font-size: 16px;
    line-height: 25px;
  }

  .vendorList1 {
    font-size: 16px;
    line-height: 25px;
    width: 425px;
  }

  .navLogo {
    margin-left: 50px;
  }

  .navLinks {
    margin-right: 50px;
  }

  .phoneIcon,
  .emailIcon,
  instagramIcon {
    height: 16px;
    width: 16px;
  }

  .heroCopy {
    margin-top: -40%;
  }

  .emailLink,
  .phoneLink {
    font-size: 16px;
  }

  .instagramIcon {
    height: 18px;
    width: 18px;
  }

  .footerLinks {
    margin-right: -50px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  /* Nav */
  .navLogo {
    margin-left: 20%;
  }

  .navLinks {
    margin-right: 10%;
  }

  #navEmail {
    font-size: 14px;
  }

  /* Hero */

  .heroImage {
    width: 100%;
  }

  .heroCopy {
    font-size: 46px;
    margin-left: 10%;
    width: 300px;
    margin-top: -38%;
    text-shadow: 1px 1px 9px rgb(101, 99, 99);
  }

  /* About Section */

  .aboutHeader {
    text-decoration: underline;
    text-decoration-color: var(--forum-blue);
    text-underline-offset: 8px;
    font-size: 32px;
  }

  .aboutCard {
    flex-direction: column;
  }

  .aboutCopy {
    width: 80%;
    font-size: 15px;
    line-height: 24px;
  }

  .verticalLine {
    display: none;
  }

  /* Products and Services */

  .productsHeader {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: var(--forum-blue);
    text-underline-offset: 8px;
  }

  .productCard {
    flex-direction: column;
  }

  #productCard1,
  #productCard3,
  #productCard5 {
    background-color: rgba(104, 148, 183, 0.15);
    padding: 40px 0;
  }

  #productCard2,
  #productCard4 {
    margin: 50px 0;
  }

  .productImages {
    width: 80%;
    filter: drop-shadow(0px 6px 25px rgba(0, 0, 0, 0.15));
    margin-bottom: 40px;
  }

  h3 {
    font-size: 25px;
    text-align: center;
    margin-top: -10%;
  }

  .productsCopy {
    width: 80%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }

  .vendorList1 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .vendorList1 a {
    font-size: 18px;
    display: block;
    line-height: 30px;
  }

  /* Footer */

  .footerLogoStack {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .emailIcon,
  .phoneIcon {
    display: none;
  }

  .emailLink,
  .phoneLink {
    font-size: 14px;
    
  }

  footer {
    flex-direction: column;
    text-align: center;
    height: 200px;
  }

  .iconLinks {
    margin-right: 50px;
    margin-bottom: 30px;
    gap: 20px;
  }
}

@media (max-width: 680px) {
  #productsLink,
  #servicesLink {
    display: none;
  }
  .vendorList1 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }


}

/* Large Phone */
@media (max-width: 425px) {
  #productsLink,
  #servicesLink {
    display: none;
  }

  .heroImage {
    margin-top: -5%;
  }

  .navLogo {
    width: 150px;
    height: 45.9375px;
  }

  .instagramIcon {
    margin-right: 45px;
  }

  .heroCopy {
    font-size: 36px;
    margin-left: 10%;
    width: 300px;
    margin-top: -42%;
    text-shadow: 1px 1px 9px rgb(101, 99, 99);
  }

  h3 {
    margin-top: -15%;
  }
}
